In [1]:
import pandas as pd
files = ['data/Data_1980.csv', 'data/adult.csv', 'data/lawschool2.csv', 'data/student-mat.csv']

In [6]:
df = pd.read_csv(files[3])
for col in df.columns:
    print(df[col].value_counts())

GP    349
MS     46
Name: school, dtype: int64
F    208
M    187
Name: sex, dtype: int64
16    104
17     98
18     82
15     82
19     24
20      3
22      1
21      1
Name: age, dtype: int64
U    307
R     88
Name: address, dtype: int64
GT3    281
LE3    114
Name: famsize, dtype: int64
T    354
A     41
Name: Pstatus, dtype: int64
4    131
2    103
3     99
1     59
0      3
Name: Medu, dtype: int64
2    115
3    100
4     96
1     82
0      2
Name: Fedu, dtype: int64
other       141
services    103
at_home      59
teacher      58
health       34
Name: Mjob, dtype: int64
other       217
services    111
teacher      29
at_home      20
health       18
Name: Fjob, dtype: int64
course        145
home          109
reputation    105
other          36
Name: reason, dtype: int64
mother    273
father     90
other      32
Name: guardian, dtype: int64
1    257
2    107
3     23
4      8
Name: traveltime, dtype: int64
2    198
1    105
3     65
4     27
Name: studytime, dtype: int64
0    312
1     50
2     17
3     16
Name: failures, dtype: int64
no     344
yes     51
Name: schoolsup, dtype: int64
yes    242
no     153
Name: famsup, dtype: int64
no     214
yes    181
Name: paid, dtype: int64
yes    201
no     194
Name: activities, dtype: int64
yes    314
no      81
Name: nursery, dtype: int64
yes    375
no      20
Name: higher, dtype: int64
yes    329
no      66
Name: internet, dtype: int64
no     263
yes    132
Name: romantic, dtype: int64
4    195
5    106
3     68
2     18
1      8
Name: famrel, dtype: int64
3    157
4    115
2     64
5     40
1     19
Name: freetime, dtype: int64
3    130
2    103
4     86
5     53
1     23
Name: goout, dtype: int64
1    276
2     75
3     26
5      9
4      9
Name: Dalc, dtype: int64
1    151
2     85
3     80
4     51
5     28
Name: Walc, dtype: int64
5    146
3     91
4     66
1     47
2     45
Name: health, dtype: int64
0     115
2      65
4      53
6      31
8      22
10     17
14     12
12     12
3       8
7       7
16      7
18      5
5       5
20      4
22      3
13      3
1       3
9       3
11      3
15      3
23      1
24      1
21      1
25      1
56      1
26      1
28      1
30      1
17      1
38      1
40      1
54      1
19      1
75      1
Name: absences, dtype: int64
1    209
0    186
Name: G3, dtype: int64